import { Navigate, createBrowserRouter } from "react-router-dom";
import { LoginPage } from "../features/auth/login/LoginPage.tsx";
import { RegisterPage } from "../features/auth/register/RegisterPage.tsx";
import { MainPage } from "../features/chat/MainPage";

export const router = createBrowserRouter([
  {
    path: "/register",
    element: <RegisterPage />,
  },
  {
    path: "/login",
    element: <LoginPage />,
  },
  {
    path: "/",
    element: <MainPage />,
  },
  {
    path: "*",
    element: <Navigate to="/" replace />,
  },
]);
